#container {
  width:1000px;
  margin:20px auto;
}
h1 {
  text-align:center;
}
.prod-list {
  list-style:none;
  padding:0;
}
.prod-list li {
    height: 200px;
  float: left;
  padding: 0;
  margin: 10px;
  overflow: hidden;
}
.prod-list img {
  margin:0;
  padding:0;
  float:left;
  z-index:5;
}
.prod-list .caption {
    position: absolute;
    top: 245px;
    width: 280px;
    height: 180px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 10;

}

.prod-list li:hover .caption {
    transform: translateY(-150px);
    transition: all 2s;
    text-align:center;
    opacity: 1;
}